* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
  
  .HEADLINE {
    position: relative;
    overflow: hidden;
  }
  
  .header {
    min-height: 75px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__left {
    display: flex;
    align-items: center;
    gap: 41px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
    gap: 33px;
  }
 
  
  .menu {
    position: absolute;
    top: 75px;
    right: -232px;
    z-index: 1;
    width: 232px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    box-sizing: border-box;
  }
  
  .menu__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  
  .presentation {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }
  
  .promo__img {
    width: 50%;
  }
  
  .pro__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
  }
  
  .pro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
  }
  
  .pro__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }
  
  .pro__content {
    padding-left: 64px;
  }
  
  .sale {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
  }
  
  .sale__item {
    position: relative;
  }
  
  .sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sale__item_big {
    min-height: 180px;
    grid-column: 1 / -1;
  }
  
  .sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
  }
  
  .product-box {
    padding-bottom: 96px;
  }
  
  .product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
  }
  
  .product__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
  }
  
  .product-box__content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
  }
  
  .product {
    position: relative;
  }
  
  .product:hover .product__img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  
  .product .product__add {
    display: flex;
  }
  
  .product__img {
    width: 100%;
  }
  
  .product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
  }
  
  .product__add {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
  }
  
  .product__add svg path {
    fill: #F16D7F;
  }
  
  .product__content {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
  }
  
  .product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  
  .product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  
  .product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }
  
.butbot{
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  background-color: #fff;
  border: 1px solid;
}

.bust{
  display: flex;
  justify-content: center;
}

  @media (max-width 848px) and (max-width 1140px){
    .center{
      max-width: 769px;
    }
    .menu{
      flex-direction: column;
      align-items: center;
      gap: 28px;
    }
    .presentation h1 {
      font-size: 16px;
    }
    .presentation h2{
      font-size: 16px;
    }
    .presentation h3{
      font-size: 16px;
    }
    
    .lite{
      grid-template-columns: 1 rf;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }